body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  text-align: center;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}

.img {
  margin-left: 100px;
  width: 300px;
  height: 300px;
}

.turn {
  margin-right: 100px;
  font-style: oblique;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  color: #0f3257;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 20px auto;
  transition: all ease-in 0.3s;
}

@keyframes celebrate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.celebrate {
  background-image: url("https://example.com/celebration-background.jpg"); /* Add your celebration background image URL */
  padding: 20px;
  color: rgb(238, 96, 96);
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  animation: celebrate 1s infinite;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-size: 2rem;
  cursor: pointer;
  transition: all ease-in 0.3s;
}

input {
  margin-left: 4px;
  border-radius: 10px;
  padding: 6px;
  width: 20%;
  margin-top: 20px;
  margin-right: 0px;
}

.message {
  font-size: 1.5rem;
  margin-top: 20px;
  transition: all ease-in 0.3s;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.scoreboard {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.score span.total {
  font-weight: bold;
  margin-left: 10px;
  color: #333;
}

.score {
  display: flex;
  margin-bottom: 5px;
  margin-bottom: 10px;
}

.score span {
  margin-left: 5px;
}
